
:root {
    --base-color: #30e8bd;
    --accent-color: #FB3453;
    --mid-gray: #5c5e5d;
    --light-gray: #cacecc;
    --light-white: #f9fcfb;
}

body {
    background: rgb(48,232,189);
    background: linear-gradient(38deg, rgba(48,232,189,1) 35%, rgba(0,212,255,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h3 {
    font-size: 2rem;
}

.title-font {
    font-family: 'Monoton', cursive;
    font-size: 4rem;
    color: var(--accent-color);
    margin-top: 0.5rem;
}

.subtitles-font {
    font-family: 'Quattrocento', serif;
}

.body-font {
    font-family: 'Quattrocento Sans', sans-serif;
}

#pick-category {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.title-screen {
    font-size: 1rem;
    background-color: var(--light-white);
    border: 2px solid var(--mid-gray);
    border-radius: 7px;
    margin: 2rem 5rem;
    padding: 2rem;
    text-align: center;
}

#start-game {
    background-color: var(--accent-color);
    border: 0px solid white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    margin-right: 2rem;
    color: var(--light-white);
    font-size: 1.5rem;
}

#how-to-play {
    background: rgb(48,232,189);
    border: 0px solid white;
    border-radius: 5px;
    color: var(--mid-gray);
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.quiz-over-container {
    font-size: 1rem;
    background-color: var(--light-white);
    border: 2px solid var(--mid-gray);
    border-radius: 7px;
    margin: 2rem 5rem;
    padding: 2rem;
    text-align: center;
}
.hidden {
    display: none;
    height: 0;
    overflow: hidden;
}

.game-container {
    font-size: 1rem;
    background-color: var(--light-white);
    border: 2px solid var(--mid-gray);
    border-radius: 7px;
    margin: 2rem 5rem;
    padding: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
}

.category-image {
    padding: 0 2rem;
    height: 150px;
    width: 150px;
    border: 0px solid black;
    border-radius: 50%;
}