.title-screen {
    font-size: 1rem;
    background-color: violet;
    margin: 1rem 5rem;
}
.hidden {
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 500ms ease-in-out;
}

.instructions {
    display: block;
    height: auto;
}