.title-screen {
    font-size: 1rem;
    background-color: violet;
    margin: 1rem 5rem;
}
.hidden {
    display: none;
    height: 0;
    overflow: hidden;
}


a {
    text-decoration: none;
}

.category-image {
    height: 100px;
    width: 100px;
    border: 0px solid black;
    border-radius: 50%;
}